body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.chart {
  width: 100%;
  height: 50vh;
}
.table {
  height: 320px;
  width: 100%;
}
.button-link {
  color: #555;
  font-size: 3rem;
  line-height: 2rem;
  margin-right: 10px;
  text-decoration: none;
}
